@import '../../components/variables.css';

.noPlatesMsg {
  font-size: 30px;
}

.plateApprovalMarkSuccess {
  color: green;
}

.plateApprovalMarkFail {
  color: red;
}

.plateCard {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 20px;
  padding-right: 40px;
  border: 2px solid #0b314f;
}

.plateCardFirstSpan {
  font-size: 24px;
}

.root {
  align-content: flex-start;
  align-items: center;
  border: 2px solid #0b314f;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
}

