@import '../../../components/variables.css';

.button {
  background-color: var(--eliftech-color-secondary-green);
  border: 2px solid var(--eliftech-color-primary-light);
  border-radius: 3px;
  color: white;
  flex: 1;
  font-size: 24px;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.input {
  flex: 1;
  border-color: var(--eliftech-color-secondary-green);
  font-size: 20px;
  padding: 5px;
}

.root {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.warned {
  border-color: var(--eliftech-color-secondary-red);
}
