.image {
  max-height: 80%;
}

.link {
  color: gray;
  text-decoration: none;
}

.linkActive {
  color: white;
}

.root {
  align-content: center;
  align-items: center;
  background-color: #0b314f;
  display: flex;
  flex: 1;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  font-size: 20;
  height: 90px;
  justify-content: space-around;
}
