@import '../../components/variables.css';

.image {
  max-height: 80%;
}

.link {
  /* color: gray; */
  font-weight: normal;
  text-decoration: none;
}

.linkActive {
  color: white;
}

.root {
  align-content: center;
  align-items: center;
  background-color: var(--eliftech-color-primary-dark);
  display: flex;
  flex: 1;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  font-size: 20;
  height: 90px;
  justify-content: space-around;
}
