:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: 'Lato', 'Segoe UI', 'HelveticaNeue-Light', sans-serif;
  --font-family-head: 'Roboto', 'Segoe UI', 'HelveticaNeue-Light', sans-serif;
  --eliftech-color-primary-dark: #0b314f;
  --eliftech-color-primary-light: #13a6e1;
  --eliftech-color-primary-mid: #1958a8;
  --eliftech-color-secondary-red: #ee3361;
  --eliftech-color-secondary-green: #2db7ca;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1000px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 480px;  /* Extra small screen / phone */
  --screen-sm-min: 768px;  /* Small screen / tablet */
  --screen-md-min: 992px;  /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */
}
